.Category {
    height: 280px;
    width: 280px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}
.Category img {
    width: 100%;
    object-fit: contain;
    max-height: 150px;
    /* padding: 0px 10px; */
}
.Category a {
    text-decoration: none;
    color: rgb(35,35,35);
}
.Category h2,
.Category p {
    padding: 5px;
    margin-left: 15px;
}
.Category p {
    font-size: 12px;
    font-weight:bold;
    color: rgb(9, 132, 209);
}
/* catagory container on category component */
.Category_container {
    position: relative;
    margin-top: -10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;   
}
@media screen and (max-width: 700px){
    .Category_container {
        position: relative;
        margin-top: -10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;  
    }
    .Category {
    height: 220px;
    width: 220px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
   .Category img {
    width: 100%;
    object-fit: contain;
    max-height: 130px;
    /* padding: 0px 10px; */
} 
}

@media screen and (min-width: 701px) and (max-width: 900px) {
 .Category_container {
        position: relative;
        margin-top: -10%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;  
    }
}